.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  circle{
      fill: steelblue;
  }


.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  .grid path {
    stroke-width: 0;
  }

.tick text{
      font-size: 1.2em;
      fill: #63655d
    }

.tick line{
    stroke: #c0c0c0;
}

.title {
    font-size: 1.0em;
    fill:#63655d
}

.axis-label {
    font-size: 1.5em;
    fill: #8e8888
}

.line-path {
    fill: none;
    stroke: maroon;
    stroke-width: 1;
    stroke-linejoin: round;
}

.line-path-online {
    fill: none;
    stroke: blueviolet;
    stroke-width: 1;
    stroke-linejoin: round;
}